/* == Root Styles == */
html {
  overflow: overlay;
  overflow-x: hidden;
  overflow-y: overlay;
}

#root,
.App {
  text-align: center;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-x: overlay;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1743d3;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #001d9c;
}

a {
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.dark-theme {
  background: #0c0c0c !important;
  color: white;
}

.dark-theme-secondary {
  background: #141414 !important;
  color: #bbbbbb;
}

p {
  margin: 5px 5px;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.25em;
}

/* == Header/Nav == */
nav {
  text-align: center;
}
nav img[src="/logo.png"] {
  height: 2.1em;
  width: auto;
  padding-top: 0.18em;
  margin-right: 0.25em;
}

.logo-cont {
  display: flex;
  align-items: center;
}
.logo-cont .text-cont {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: white;
  align-items: flex-start;
  justify-content: space-around;
}
.logo-cont .text-cont h1,
.logo-cont .text-cont h2 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  margin: -0.2em 0;
}
.logo-cont .text-cont h1 {
  font-size: 1.25em;
  margin-left: -0.02em;
}
.logo-cont .text-cont h2 {
  font-size: 0.7em;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon-text {
  font-size: 0.9em;
  padding-top: 0.25em;
}

.navbar {
  display: flex;
  padding: 1em 2em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #008cff;
}
@media (min-width: 800px) {
  .navbar {
    flex-direction: row;
  }
}
.navbar a {
  text-decoration: none;
}

.navbar-dark {
  background-color: #001820;
}

.nav-title {
  color: white;
  display: block;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 0.05em;
}

.link {
  color: white;
  font-size: 1em;
  padding: 0 0.25em;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.link:hover {
  color: #007bff;
  text-decoration: none !important;
  transition: 0.25s;
}

.light-theme:hover {
  color: navy;
}

.heading {
  font-size: 1.5em;
}

.heading {
  font-family: "Bangers", cursive;
  margin-top: 0.5em;
}

.tab-frame {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.banner {
  height: 100%;
  width: 100%;
  min-height: 70vh;
  background-image: url("/banner.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0051ff;
}
.banner .banner-cont {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 1em;
  text-align: left;
}
.banner .banner-cont h1 {
  margin: 0;
  font-size: 2em;
}
.banner .banner-cont h2 {
  font-size: 1.75em;
  margin-top: 0;
  margin-bottom: 1em;
}
.banner .banner-cont .button {
  display: inline;
  padding: 0.5em 0.75em;
  margin-right: 0.75em;
}
.banner span:nth-of-type(2) {
  background: #0a5694;
}

.home-description {
  padding: 2em;
  width: 60%;
  margin: auto;
  font-size: 1.5em;
}
.home-description p {
  text-align: center;
}

.home {
  font-size: 1.05em;
}
.home hr {
  width: 5em;
  background-color: black;
  margin: auto;
}
.home h2 {
  text-align: center;
}

.features {
  display: flex;
  margin: 3em auto;
  justify-content: center;
}
.features .feature-card {
  width: 20%;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.features .feature-card img {
  padding: 1em;
}

/* == Registration / Login Forms == */
.registration {
  width: 30%;
  max-width: 300px;
  margin: 15vh auto 0 auto;
  line-height: 1em;
  font-size: 0.8em;
}
.registration a[href="/forgot"] {
  padding-top: 1em;
  display: block;
}

.reset-pass-cont {
  border: 1px gray solid;
  border-radius: 5px;
  padding: 2em;
  margin-top: 10vh;
}
.reset-pass-cont label {
  display: block;
  margin-left: -1em;
  text-align: left;
  text-transform: uppercase;
}
.reset-pass-cont input {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
}
.reset-pass-cont .forget-error {
  padding: 0.5em 0.25em;
  background-color: #f8d971;
  border-radius: 5px;
  color: darkgoldenrod;
  animation: fade-in 0.2s forwards;
}
.reset-pass-cont .reset-success {
  padding: 0.5em 0.25em;
  background-color: rgba(202, 24, 0, 0.7);
  border-radius: 5px;
  color: white;
  animation: fade-in 0.2s forwards;
  margin: 0.5em 0;
}
.reset-pass-cont .reset-success {
  padding: 0.5em 0.25em;
  background-color: rgba(33, 128, 24, 0.7);
  border-radius: 5px;
  color: white;
  animation: fade-in 0.2s forwards;
  margin: 0.5em 0;
}

.row {
  margin: auto;
  position: relative;
  text-transform: uppercase;
  font-size: 0.9em;
}
.row:hover {
  cursor: pointer;
}
.row label {
  display: block;
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.row .errorMessage {
  opacity: 0;
  position: absolute;
  right: -128%;
  top: 44%;
  width: 125%;
  padding: 0.5em 0.25em;
  background-color: #f8d971;
  border-radius: 5px;
  color: darkgoldenrod;
  animation: fade-in 0.2s forwards;
}
.row .errorMessage:before {
  content: "";
  border-style: solid;
  border-width: 10px 25px 10px 0;
  border-color: transparent #f8d971 transparent transparent;
  position: absolute;
  left: -10px;
  top: 20%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.registration input {
  width: 90%;
  margin: auto;
  padding: 0.5em;
}

.login-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.login-head h2 {
  padding-top: 0.5em;
}

.login-head > img {
  width: 20%;
  height: auto;
  border-radius: 5px;
}

.loginError {
  background-color: #f8d971;
  padding: 0.25em;
  border-radius: 5px;
  color: darkgoldenrod;
}

.validationPass {
  background-color: palegreen;
  width: fit-content;
  position: absolute;
  left: 105%;
  padding: 0.25em;
  border-radius: 5px;
}

.spinner {
  margin: auto;
}

.button {
  text-transform: uppercase;
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  background: #0e7ad3;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
}
.button:hover {
  cursor: pointer;
}

.button[type=submit] {
  border: none;
}

/* == Beer Styles == */
.beer-container {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.my-beers-cont {
  width: 90%;
  margin: auto;
}
.my-beers-cont .beer:last-of-type {
  border-top: 2px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.randomBeer {
  border: 2px black solid;
  position: relative;
  border-radius: 10px;
  width: 95%;
  margin: auto;
  text-align: center;
  font-size: 1em;
}

.randomBeer .description {
  font-size: 0.95em;
  width: 95%;
  margin: auto;
}

.beer {
  border-top: black 2px solid;
  border-left: black 2px solid;
  border-right: black 2px solid;
  background-color: white;
  min-width: 250px;
  width: 100%;
  font-size: 0.95em;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.beer * {
  margin: auto;
}
.beer .thumb {
  width: 5vw;
  min-width: 75px;
  margin: 0;
  height: auto;
}
@media (min-width: 1400px) {
  .beer .thumb {
    width: 4vw;
  }
}
.beer h3 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  margin: auto 0;
  width: 20%;
  padding-left: 18px;
}
.beer a {
  font-size: 1.1em;
  width: 25%;
  color: white;
  text-decoration: none;
  margin-left: 0;
  margin-right: 0;
}
.beer a:hover {
  color: orange !important;
  transition: color 0.2s;
}
.beer h5 {
  font-size: 0.9em;
  width: 10%;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}
.beer .buttons {
  margin-left: 0;
  text-align: left;
  padding-left: 15px;
}
.beer .buttons,
.beer .set-rating {
  width: 12%;
  position: relative;
  margin: auto 0;
}
.beer .delete-buttons {
  margin-left: 0.25em;
}
.beer .tooltip {
  background: black;
  color: white;
  border-radius: 5px;
  padding: 0.25em;
  position: absolute;
  opacity: 0;
  left: 40%;
  font-size: 0.8em;
}
.beer .buttons:hover .tooltip {
  opacity: 1;
  transition: opacity 0.5s;
}
.beer .description {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 400;
  width: 15%;
}
.beer h4 {
  font-size: 1em;
  text-align: left;
}
.beer input[type=number] {
  width: 2.5em;
}
.beer .tick:hover,
.beer .cross:hover {
  cursor: pointer;
}
.beer span.false:hover {
  text-decoration: underline;
}
.beer .set-rating {
  display: flex;
  justify-content: flex-start;
}
.beer .set-rating .set-rating-row-1 {
  display: flex;
  margin: auto 0;
}
.beer .set-rating .set-rating-row-1 input {
  background: transparent;
  border: white 1px solid;
  border-radius: 5px;
  padding: 0.25em;
}
.beer .set-rating .set-rating-row-1 input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
.beer .more-info:hover {
  cursor: pointer;
}
.beer:last-of-type {
  border-bottom: 2px solid black;
}

.my-dropdown-slidedown {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.more-info-cont {
  width: 100%;
  padding: 1em;
  text-align: left;
  overflow: hidden;
  position: relative;
  border-left: black 2px solid;
  border-right: black 2px solid;
  background: white;
}

.slide-down {
  animation: slide-down 1s forwards;
}

.click-text-saved {
  color: #04c8bf;
}

.flex-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.search-banner {
  width: 100%;
  height: 30vh;
  min-height: 350px;
  background-image: url("/search-banner.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-banner .search-banner-content {
  width: 30%;
  min-width: 300px;
  margin: auto;
  padding: 1em;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  text-align: left;
}
.search-banner .search-banner-content .button {
  width: 10%;
  margin: auto;
  display: inline-block;
}

/* == Random Beer == */
.random-beer-buttons {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.beer-types {
  padding: 0.25em 0.5em;
  border-radius: 10px;
  background: #1b79f3;
  border: 2px navy solid;
  color: white;
  margin: 0.3em;
}

.beer-types:hover {
  cursor: pointer;
}

.sort-btn-group {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.25em;
  display: flex;
  justify-content: flex-start;
  margin-right: 1em;
}
.sort-btn-group .blank-col {
  width: 5vw;
  min-width: 75px;
  margin: 0;
  height: auto;
}
.sort-btn-group .beerName-col {
  width: 20%;
  padding-left: 18px;
}
.sort-btn-group .breweryName-col {
  width: 25%;
}
.sort-btn-group .abv-col {
  width: 10%;
}
.sort-btn-group .beerDescription-col {
  width: 15%;
}
.sort-btn-group .stars-col {
  width: 10%;
}

.sort-btn {
  margin: auto 0;
  text-align: left;
}
.sort-btn svg {
  margin-left: 0.25em;
}

.sort-btn:hover {
  cursor: pointer;
  text-shadow: 0 0 0.02px black;
}

.modal {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.modal-content {
  text-align: left;
  border-radius: 5px;
  padding: 1em 4em;
  box-shadow: 2px 2px 5px #383838;
  background: white;
  color: black;
}
.modal-content svg {
  margin: 0 0.25em;
}

.pl-1 {
  margin-left: 1em !important;
}

.folder {
  border-radius: 5px;
  padding: 0.25em;
  margin: 0.25em;
  background: #faebd0;
}
.folder:hover {
  background: #f7d18c;
  cursor: pointer;
}

.highlight-folder {
  margin: 0.25em;
  padding: 0.25em;
  background: orange;
  border-radius: 5px;
}

.add-fave-btn,
.cancel-modal-btn {
  text-align: center;
}
.add-fave-btn:hover,
.cancel-modal-btn:hover {
  cursor: pointer;
}

.add-fave-btn {
  background: lightblue;
  border-radius: 5px;
  padding: 0.5em;
}
.add-fave-btn:hover {
  background: #1bc2fa;
}

.cancel-modal-btn {
  font-size: 0.9em;
  padding: 0.5em;
}
.cancel-modal-btn:hover {
  color: maroon;
}

/* == My Beers == */
.my-beers-wrapper {
  width: 100%;
  margin: auto;
  border-radius: 5px;
}
.my-beers-wrapper .my-beers-banner {
  width: 100%;
  min-height: 350px;
  border-radius: 5px 5px 0 0;
  background-image: url("/beer-1074950_1280.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(27, 27, 27, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-beers-wrapper .my-beers-banner h1 {
  color: #e0e0e0;
}

.ratings {
  font-size: 0.8em;
}

.ratings span {
  padding: 0.25em;
}

.ratings span:hover,
.delete-beer {
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.buttons:hover {
  cursor: pointer;
}

.beer:hover .buttons {
  visibility: visible;
}

.delete-beer {
  font-size: 0.75em;
  padding: 0.5em;
  border-radius: 10px;
}

.delete-confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-beer,
.delete-confirm {
  width: 8%;
}

.delete-beer:hover {
  color: black;
  background-color: gray;
  transition: 0.1s;
}

.settings-cont {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
}
.settings-cont .settings-nav {
  width: 20%;
  height: 90vh;
  background: #363636;
  color: white;
  position: absolute;
  animation: panel-slide 0.5s forwards;
}
.settings-cont .settings-nav h1 {
  font-size: 1.75em;
}
.settings-cont .settings-nav a {
  font-size: 1em;
  color: white;
  margin: 1em auto;
}
.settings-cont .settings-nav a:hover {
  color: orange;
  transition: color 0.2s;
}
.settings-cont .settings-nav nav {
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
}
.settings-cont .settings-tab {
  width: 80%;
  background: white;
}

.account-cont,
.privacy-cont {
  margin: 1em auto auto 0;
  width: 40%;
  border: 1px gray solid;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
}
.account-cont h1,
.account-cont .icon,
.privacy-cont h1,
.privacy-cont .icon {
  font-size: 1.5em;
  margin: 0 auto;
}
.account-cont .row,
.privacy-cont .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

.change-pass-cont {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: auto;
}

.slider-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@keyframes panel-slide {
  0% {
    left: 100vw;
  }
  100% {
    left: 80%;
  }
}
footer {
  width: 100%;
  padding: 2em;
  background-color: #141414;
}
footer .footer-cont {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}
footer .about {
  width: 30%;
  text-align: left;
  padding-right: 5%;
}
footer .about p {
  margin: 0;
  margin-top: 0.5em;
}
footer .about .logo-cont img {
  width: 18px;
  height: auto;
  margin-right: 0.25em;
}
footer .links,
footer .subscribe {
  width: 15%;
  text-align: left;
}
footer .links h3,
footer .subscribe h3 {
  margin: 0.5em 0;
}
footer ul {
  list-style-type: none;
  color: lightgray;
  padding-left: 0;
}

/* == Mobile == */
@media (min-width: 768px) {
  .link {
    font-size: 1.2em;
    padding: 0.3em 0.7em;
    display: inline;
    border-radius: 10px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
  }

  .nav-title {
    display: inline;
    font-size: 2em;
  }

  .registration {
    font-size: 1em;
  }

  .randomBeer {
    width: 600px;
  }
}

/*# sourceMappingURL=App.css.map */
