.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-title {
  color: white;
  font-size: 1.6em;
}
.link {
  color: white!important;
  font-size: 1.2em;
  padding: 0.5em 1em;
}

.link:hover {
  background: white;
  color:#007bff!important;
  text-decoration: none!important;
  transition: 0.25em;
  border-radius: 10px;

}

.heading {
  font-size: 1.5em;
}
.registration {
  width: fit-content;
  margin: auto;
  text-align: center;
  line-height: 1em;
}

.registration input {
  margin-left: 10px;
}

.registration > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.beer-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
}

.thumb {
  height: 30%;
  width: auto;
  margin: 10%;
}

.randomBeer {
  border: 2px black solid;
  position: relative;
  border-radius: 10px;
  width: 600px;
  height: 400px;
  margin: auto;
  text-align: center;
  font-size: 1em;
}

.randomBeer .description {
  font-size: 0.95em;
  width: 95%;
  margin: auto;
}

.beer {
  border: 2px black solid;
  border-radius: 10px;
  min-width: 280px;
  flex-basis: 18%;
  height: 250px;
  margin: 5px;
  overflow: hidden;
  position: relative;
}

.beer h3,
.beer h4 {
  font-size: 1em;
}

.beer .description {
  font-size: 0.9em;
}
.beer:hover {
  overflow: visible;
  z-index: 10000;
  background-color: slategray;
  color: white;
  transform: scale(1.05)
}




.buttons {
  /* visibility: hidden; */
  position: absolute;
  top: 5px;
  right: 5px;
}

.ratings {
  position: absolute;
  font-size: 0.8em;
  top: 2em;
  right: 5px;
}



.ratings span {
  padding: 0.25em;
}

.ratings span:hover,
.delete-beer {
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 10px;
}

.buttons:hover {
  cursor: pointer;
}
.beer:hover .buttons {
  visibility: visible;
}

.delete-beer {
  position: absolute;
  font-size: 0.75em;
  padding: 0.5em;
  border-radius: 10px;
  bottom: 5px;
  left: 43%;
}

.delete-beer:hover {
  color: black;
  background-color: white;
  transition: 0.3s;
}

