/* == Root Styles == */
html {
  overflow: overlay;
}

#root,
.App {
  text-align: center;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  overflow-x: overlay;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #09d3ac;
}

p {
  margin: 5px 5px;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.25em;
}

/* == Header/Nav == */
nav {
  text-align: center;
}

.navbar {
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #008cff;
}
@media (min-width: 800px) {
  .navbar {
    flex-direction: row;
  }
}
.navbar a {
  text-decoration: none;
}

.nav-title {
  color: white;
  font-size: 1.6em;
  display: block;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 3px 3px 3px navy;
  letter-spacing: 0.03em;
}

.link {
  color: white !important;
  font-size: 1em;
  padding: 0 0.25em;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.link:hover {
  background: white;
  color: #007bff !important;
  text-decoration: none !important;
  transition: 0.25s;
}

.heading {
  font-size: 1.5em;
}

.heading {
  font-family: "Bangers", cursive;
  margin-top: 0.5em;
}

.tab-frame {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.banner {
  height: 100%;
  width: 100%;
  min-height: 70vh;
  background-image: url("/banner.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0051ff;
}
.banner .banner-cont {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 1em;
  text-align: left;
}
.banner .banner-cont h1 {
  margin: 0;
  font-size: 2em;
}
.banner .banner-cont h2 {
  font-size: 1.75em;
  margin-top: 0;
  margin-bottom: 1em;
}
.banner .banner-cont .button {
  display: inline;
  padding: 0.5em 0.75em;
  margin-right: 0.75em;
}
.banner span:nth-of-type(2) {
  background: #0a5694;
}

.home-description {
  padding: 2em;
  width: 60%;
  margin: auto;
  font-size: 1.5em;
}
.home-description p {
  text-align: center;
}

.home {
  font-size: 1.05em;
}
.home hr {
  width: 5em;
  background-color: black;
  margin: auto;
}
.home h2 {
  text-align: center;
}

.features {
  display: flex;
  margin: 3em auto;
  justify-content: center;
}
.features .feature-card {
  width: 20%;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.features .feature-card img {
  padding: 1em;
}

/* == Registration / Login Forms == */
.registration {
  width: 30%;
  max-width: 300px;
  margin: 20vh auto;
  line-height: 1em;
  font-size: 0.8em;
}

.row {
  margin: auto;
  position: relative;
  text-transform: uppercase;
  font-size: 0.9em;
}
.row:hover {
  cursor: pointer;
}
.row label {
  display: block;
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.row .errorMessage {
  opacity: 0;
  position: absolute;
  right: -128%;
  top: 44%;
  width: 125%;
  padding: 0.5em 0.25em;
  background-color: #f8d971;
  border-radius: 5px;
  color: darkgoldenrod;
  animation: fade-in 0.2s forwards;
}
.row .errorMessage:before {
  content: "";
  border-style: solid;
  border-width: 10px 25px 10px 0;
  border-color: transparent #f8d971 transparent transparent;
  position: absolute;
  left: -10px;
  top: 20%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.registration input {
  width: 90%;
  margin: auto;
  padding: 0.75em;
}

.login-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.login-head h2 {
  padding-top: 0.5em;
}

.login-head > img {
  width: 20%;
  height: auto;
  border-radius: 5px;
}

.loginError {
  background-color: #f8d971;
  padding: 0.25em;
  border-radius: 5px;
  color: darkgoldenrod;
}

.validationPass {
  background-color: palegreen;
  width: fit-content;
  position: absolute;
  left: 105%;
  padding: 0.25em;
  border-radius: 5px;
}

.spinner {
  margin: auto;
}

.button {
  text-transform: uppercase;
  display: block;
  width: 90%;
  margin: auto;
  text-align: center;
  background: #0e7ad3;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
}
.button:hover {
  cursor: pointer;
}

.button[type=submit] {
  border: none;
}

/* == Beer Styles == */
.beer-container {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.my-beers-cont {
  width: 90%;
  margin: auto;
}
.my-beers-cont .beer:last-of-type {
  border-top: 2px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.randomBeer {
  border: 2px black solid;
  position: relative;
  border-radius: 10px;
  width: 95%;
  margin: auto;
  text-align: center;
  font-size: 1em;
}

.randomBeer .description {
  font-size: 0.95em;
  width: 95%;
  margin: auto;
}

.beer {
  border-top: black 2px solid;
  border-left: black 2px solid;
  border-right: black 2px solid;
  background-color: white;
  min-width: 250px;
  width: 100%;
  font-size: 0.95em;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.beer * {
  margin: auto;
}
.beer .thumb {
  width: 5vw;
  min-width: 75px;
  margin: 0;
  height: auto;
}
@media (min-width: 1400px) {
  .beer .thumb {
    width: 4vw;
  }
}
.beer h3 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  margin: auto 0;
  width: 20%;
  padding-left: 1em;
}
.beer a {
  font-size: 1.1em;
  width: 25%;
}
.beer h5 {
  font-size: 0.9em;
  width: 10%;
  text-align: left;
}
.beer .buttons {
  width: 10%;
}
.beer .description {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 400;
  width: 15%;
}
.beer h4 {
  font-size: 1em;
  text-align: left;
}
.beer input[type=number] {
  width: 2.5em;
}
.beer .tick:hover,
.beer .cross:hover {
  cursor: pointer;
}
.beer .set-rating {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.beer .set-rating .set-rating-row-1 {
  display: flex;
}
.beer .more-info:hover {
  cursor: pointer;
}
.beer:last-of-type {
  border-bottom: 2px solid black;
}

.more-info-cont {
  width: 100%;
  padding: 1em;
  text-align: left;
  overflow: hidden;
  position: relative;
  border-left: black 2px solid;
  border-right: black 2px solid;
  background: white;
}

.slide-down {
  animation: slide-down 1s forwards;
}

.click-text-saved {
  color: blue;
}

/* == Random Beer == */
.random-beer-buttons {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.beer-types {
  padding: 0.25em 0.5em;
  border-radius: 10px;
  background: #1b79f3;
  border: 2px navy solid;
  color: white;
  margin: 0.3em;
}

.beer-types:hover {
  cursor: pointer;
}

.sort-btn-group {
  text-align: right;
  margin-right: 1em;
}

.sort-btn {
  padding: 0.5em;
}

.sort-btn:hover {
  cursor: pointer;
  text-shadow: 0 0 0.02px black;
}

/* == My Beers == */
.my-beers-wrapper {
  width: 100%;
  margin: auto;
  border-radius: 5px;
}
.my-beers-wrapper .my-beers-banner {
  width: 100%;
  min-height: 350px;
  border-radius: 5px 5px 0 0;
  background-image: url("/beer-1074950_1280.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(27, 27, 27, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-beers-wrapper .my-beers-banner h1 {
  color: #e0e0e0;
}

.ratings {
  font-size: 0.8em;
}

.ratings span {
  padding: 0.25em;
}

.ratings span:hover,
.delete-beer {
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 10px;
}

.buttons:hover {
  cursor: pointer;
}

.beer:hover .buttons {
  visibility: visible;
}

.delete-beer {
  font-size: 0.75em;
  padding: 0.5em;
  border-radius: 10px;
}

.delete-confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-beer:hover {
  color: black;
  background-color: gray;
  transition: 0.1s;
}

.settings-cont {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  display: flex;
}
.settings-cont .settings-nav {
  width: 20%;
  height: 90vh;
  background: #363636;
  color: white;
  position: absolute;
  animation: panel-slide 0.5s forwards;
  left: 100vw;
}
.settings-cont .settings-nav h1 {
  font-size: 1.5em;
}
.settings-cont .settings-nav nav {
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
}
.settings-cont .settings-tab {
  width: 80%;
  background: white;
}

@keyframes panel-slide {
  0% {
    left: 100vw;
  }
  100% {
    left: 80%;
  }
}
/* == Mobile/Tab == */
@media (max-width: 767px) {
  /* Fix bootstrap issue */
  .navbar-brand {
    margin: auto !important;
  }
}
/* == Mobile == */
@media (min-width: 768px) {
  .link {
    font-size: 1.2em;
    padding: 0.3em 0.7em;
    display: inline;
    border-radius: 10px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
  }

  .nav-title {
    display: inline;
    font-size: 2em;
  }

  .registration {
    font-size: 1em;
  }

  .randomBeer {
    width: 600px;
  }
}

/*# sourceMappingURL=App.css.map */
