/* == Root Styles == */

html {
    overflow: overlay;
    overflow-x: hidden;
    overflow-y: overlay;
}

#root,
.App {
    text-align: center;
    width: 100%;
    font-family: -apple-system,
        // Chrome < 56 for OS X (San Francisco)
        BlinkMacSystemFont,
        // Windows
        "Segoe UI",
        // Android
        "Roboto",
        // Basic web fallback
        "Helvetica Neue",
        Arial, sans-serif,
        // Emoji fonts
        "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    overflow-x: overlay;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1743d3;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #001d9c;
}

a {
    text-decoration: none;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.dark-theme {
    background: rgb(12, 12, 12) !important;
    color: white;
}
.dark-theme-secondary {
    background: rgb(20, 20, 20) !important;
    color: rgb(187, 187, 187);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input {
}

p {
    margin: 5px 5px;
}

input {
    font-family: -apple-system,
        // Chrome < 56 for OS X (San Francisco)
        BlinkMacSystemFont,
        // Windows
        "Segoe UI",
        // Android
        "Roboto",
        // Basic web fallback
        "Helvetica Neue",
        Arial, sans-serif,
        // Emoji fonts
        "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.25em;
}

/* == Header/Nav == */
nav {
    text-align: center;
    img[src="/logo.png"] {
        height: 2.1em;
        width: auto;
        padding-top: 0.18em;
        margin-right: 0.25em;
    }
}
.logo-cont {
    display: flex;
    align-items: center;
    .text-cont {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        color: white;
        align-items: flex-start;
        justify-content: space-around;
        h1,
        h2 {
            margin: 0;
            font-family: "Oswald", sans-serif;
            margin: -0.2em 0;
        }
        h1 {
            font-size: 1.25em;
            margin-left: -0.02em;
        }
        h2 {
            font-size: 0.7em;
        }
    }
}
.navbar {
    display: flex;
    padding: 1em 2em;
    flex-direction: column;
    @media (min-width: 800px) {
        flex-direction: row;
    }
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 140, 255);
    a {
        text-decoration: none;
    }
}
.navbar-dark {
    background-color: rgb(0, 24, 32);
}
.nav-title {
    color: white;
    display: block;
    font-family: "Luckiest Guy", cursive;
    letter-spacing: 0.05em;
}

.link {
    color: white !important;
    font-size: 1em;
    padding: 0 0.25em;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.link:hover {
    background: white;
    color: #007bff !important;
    text-decoration: none !important;
    transition: 0.25s;
}

.heading {
    font-size: 1.5em;
}

.heading {
    font-family: "Bangers", cursive;
    margin-top: 0.5em;
}

.tab-frame {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

// Home

.banner {
    height: 100%;
    width: 100%;
    min-height: 70vh;
    background-image: url("/banner.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 81, 255);
    .banner-cont {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        padding: 1em;
        text-align: left;
        h1 {
            margin: 0;
            font-size: 2em;
        }
        h2 {
            font-size: 1.75em;
            margin-top: 0;
            margin-bottom: 1em;
        }
        .button {
            display: inline;
            padding: 0.5em 0.75em;
            margin-right: 0.75em;
        }
    }
    span:nth-of-type(2) {
        background: #0a5694;
    }
}

.home-description {
    padding: 2em;
    width: 60%;
    margin: auto;
    font-size: 1.5em;
    p {
        text-align: center;
    }
}

.home {
    font-size: 1.05em;

    hr {
        width: 5em;
        background-color: black;
        margin: auto;
    }
    h2 {
        text-align: center;
    }
}
.features {
    display: flex;
    margin: 3em auto;
    justify-content: center;
    .feature-card {
        img {
            padding: 1em;
        }
        width: 20%;
        margin: 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

/* == Registration / Login Forms == */

.registration {
    width: 30%;
    max-width: 300px;
    margin: 15vh auto 0 auto;
    line-height: 1em;
    font-size: 0.8em;
    a[href="/forgot"] {
        padding-top: 1em;
        display: block;
    }
}
.reset-pass-cont {
    border: 1px gray solid;
    border-radius: 5px;
    padding: 2em;
    margin-top: 10vh;
    label {
        display: block;
        margin-left: -1em;
        text-align: left;
        text-transform: uppercase;
    }
    input {
        width: 100%;
        padding: 0.5em;
        margin: 0.5em 0;
    }
    .forget-error {
        padding: 0.5em 0.25em;
        background-color: rgb(248, 217, 113);
        border-radius: 5px;
        color: darkgoldenrod;
        animation: fade-in 0.2s forwards;
    }
    .reset-success {
        padding: 0.5em 0.25em;
        background-color: rgba(202, 24, 0, 0.7);

        border-radius: 5px;
        color: white;
        animation: fade-in 0.2s forwards;
        margin: 0.5em 0;
    }
    .reset-success {
        padding: 0.5em 0.25em;
        background-color: rgba(33, 128, 24, 0.7);
        border-radius: 5px;
        color: white;
        animation: fade-in 0.2s forwards;
        margin: 0.5em 0;
    }
}
.row {
    margin: auto;
    position: relative;
    text-transform: uppercase;
    font-size: 0.9em;
    &:hover {
        cursor: pointer;
    }
    label {
        display: block;
        text-align: left;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .errorMessage {
        opacity: 0;
        position: absolute;
        right: -128%;
        top: 44%;
        width: 125%;
        padding: 0.5em 0.25em;
        background-color: rgb(248, 217, 113);
        border-radius: 5px;
        color: darkgoldenrod;
        animation: fade-in 0.2s forwards;
        &:before {
            content: "";
            border-style: solid;
            border-width: 10px 25px 10px 0;
            border-color: transparent rgb(248, 217, 113) transparent transparent;
            position: absolute;
            left: -10px;
            top: 20%;
        }
    }
}

// @keyframes slide-down {
//     0% {
//         height: 0px;
//     }
//     100% {
//         height: 150px;
//     }
// }
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.registration input {
    width: 90%;
    margin: auto;
    padding: 0.5em;
}

.login-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    h2 {
        padding-top: 0.5em;
    }
}
.login-head > img {
    width: 20%;
    height: auto;
    border-radius: 5px;
}
.loginError {
    background-color: rgb(248, 217, 113);
    padding: 0.25em;
    border-radius: 5px;
    color: darkgoldenrod;
}
.validationPass {
    background-color: palegreen;
    width: fit-content;
    position: absolute;
    left: 105%;
    padding: 0.25em;
    border-radius: 5px;
}

.spinner {
    margin: auto;
}

.button {
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    background: rgb(14, 122, 211);
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
    }
}

.button[type="submit"] {
    border: none;
}
/* == Beer Styles == */

.beer-container {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.my-beers-cont {
    width: 90%;
    margin: auto;
    .beer:last-of-type {
        border-top: 2px solid black;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
}

.randomBeer {
    border: 2px black solid;
    position: relative;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    text-align: center;
    font-size: 1em;
}

.randomBeer .description {
    font-size: 0.95em;
    width: 95%;
    margin: auto;
}

.beer {
    border-top: black 2px solid;
    border-left: black 2px solid;
    border-right: black 2px solid;
    background-color: white;
    min-width: 250px;
    // padding: 0.5em;
    width: 100%;
    font-size: 0.95em;
    // @media (min-width: 1400px) {
    //     width: 48%;
    // }

    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // z-index: 1000;

    * {
        margin: auto;
    }
    .thumb {
        width: 5vw;
        min-width: 75px;
        @media (min-width: 1400px) {
            width: 4vw;
        }
        margin: 0;
        height: auto;
    }
    h3 {
        font-size: 1.2em;
        font-weight: bold;
        text-align: left;
        margin: auto 0;
        width: 20%;
        padding-left: 1em;
    }

    a {
        font-size: 1.1em;
        width: 25%;
        color: white;
        text-decoration: none;
        &:hover {
            color: orange !important;
            transition: color 0.2s;
        }
    }
    h5 {
        font-size: 0.9em;
        width: 10%;
        text-align: left;
    }
    .buttons,
    .set-rating {
        width: 10%;
        position: relative;
    }
    .tooltip {
        background: rgb(0, 0, 0);
        color: white;
        border-radius: 5px;
        padding: 0.25em;
        position: absolute;
        opacity: 0;
        left: 40%;
        font-size: 0.8em;
    }
    .buttons:hover .tooltip {
        opacity: 1;
        transition: opacity 0.5s;
    }
    .description {
        font-size: 0.9em;
        text-transform: uppercase;
        font-weight: 400;
        width: 15%;
    }
    h4 {
        font-size: 1em;
        text-align: left;
    }

    input[type="number"] {
        width: 2.5em;
    }
    .tick,
    .cross {
        &:hover {
            cursor: pointer;
        }
    }
    span.false:hover {
        text-decoration: underline;
    }
    .set-rating {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        .set-rating-row-1 {
            display: flex;
        }
    }
    .more-info {
        &:hover {
            cursor: pointer;
        }
    }
    &:last-of-type {
        border-bottom: 2px solid black;
    }
}

.more-info-cont {
    width: 100%;
    padding: 1em;
    text-align: left;
    overflow: hidden;
    position: relative;
    border-left: black 2px solid;
    border-right: black 2px solid;
    background: white;
}

// .show {
//     visibility: visible;
// }
.slide-down {
    animation: slide-down 1s forwards;
}
// .beer:hover {
//     overflow: visible;
//     z-index: 10000;
//     background-color: slategray;
//     color: white;
//     transform: scale(1.05);
//     transition: 0.3s;
// }

.click-text-saved {
    color: rgb(4, 200, 191);
}

// Icons

.flex-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

// == Search ==

.search-banner {
    width: 100%;
    height: 30vh;
    min-height: 350px;
    background-image: url("/search-banner.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .search-banner-content {
        width: 30%;
        min-width: 300px;
        margin: auto;
        padding: 1em;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.7);
        text-align: left;
        .button {
            width: 10%;
            margin: auto;
            display: inline-block;
        }
    }
}

/* == Random Beer == */

.random-beer-buttons {
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.beer-types {
    padding: 0.25em 0.5em;
    border-radius: 10px;
    background: rgb(27, 121, 243);
    border: 2px navy solid;
    color: white;
    margin: 0.3em;
}

.beer-types:hover {
    cursor: pointer;
}

.sort-btn-group {
    text-align: right;
    margin-right: 1em;
}

.sort-btn {
    padding: 0.5em;
}
.sort-btn:hover {
    cursor: pointer;
    text-shadow: 0 0 0.02px black;
}

/* == My Beers == */

.my-beers-wrapper {
    width: 100%;
    margin: auto;
    // border: rgb(175, 2, 2) solid 2px;
    border-radius: 5px;
    .my-beers-banner {
        width: 100%;
        min-height: 350px;
        border-radius: 5px 5px 0 0;
        background-image: url("/beer-1074950_1280.jpg");
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(27, 27, 27, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            color: rgb(224, 224, 224);
        }
        // background-position: center;
    }
}
.ratings {
    // position: absolute;
    font-size: 0.8em;
    // top: 2em;
    // right: 5px;
}

.ratings span {
    padding: 0.25em;
}

.ratings span:hover,
.delete-beer {
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.buttons:hover {
    cursor: pointer;
}
.beer:hover .buttons {
    visibility: visible;
}

.delete-beer {
    // position: absolute;
    font-size: 0.75em;
    padding: 0.5em;
    border-radius: 10px;
    // bottom: 5px;
    // left: 41%;
}
.delete-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-beer,
.delete-confirm {
    width: 8%;
}
.delete-beer:hover {
    color: black;
    background-color: gray;
    transition: 0.1s;
}

// Settings

.settings-cont {
    width: 100%;
    height: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;

    .settings-nav {
        h1 {
            font-size: 1.75em;
        }
        a {
            font-size: 1em;
            color: white;
            margin: 1em auto;
            &:hover {
                color: orange;
                transition: color 0.2s;
            }
        }
        width: 20%;
        height: 90vh;
        background: rgb(54, 54, 54);
        color: white;
        position: absolute;
        animation: panel-slide 0.5s forwards;
        // left: 100vw;
        nav {
            display: flex;
            flex-direction: column;
            font-size: 1.25em;
        }
    }
    .settings-tab {
        width: 80%;

        background: white;
    }
}

.account-cont,
.privacy-cont {
    margin: 1em auto auto 0;
    width: 40%;
    border: 1px gray solid;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    h1,
    .icon {
        font-size: 1.5em;
        margin: 0 auto;
    }
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        margin: auto;
    }
}

.reset-pass-cont {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: auto;
}
//Color Theme Slider
.slider-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
@keyframes panel-slide {
    0% {
        left: 100vw;
    }
    100% {
        left: 80%;
    }
}

// Footer
footer {
    width: 100%;

    padding: 2em;
    background-color: rgb(20, 20, 20);
    .footer-cont {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin: auto;
    }

    .about {
        width: 30%;
        text-align: left;
        padding-right: 5%;
        p {
            margin: 0;
            margin-top: 0.5em;
        }
        .logo-cont img {
            width: 18px;
            height: auto;
            margin-right: 0.25em;
        }
    }

    .links,
    .subscribe {
        width: 15%;
        text-align: left;
        h3 {
            margin: 0.5em 0;
        }
    }
    ul {
        list-style-type: none;
        color: lightgray;
        padding-left: 0;
    }
}

/* == Mobile == */
@media (min-width: 768px) {
    .link {
        font-size: 1.2em;
        padding: 0.3em 0.7em;
        display: inline;
        border-radius: 10px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
    }

    .nav-title {
        display: inline;
        font-size: 2em;
    }

    .registration {
        font-size: 1em;
    }

    .randomBeer {
        width: 600px;
    }
}
